:root {
  --font-size-3xl: 68px;
  --font-size-2xl: 48px;
  --font-size-xl: 32px;
  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-2xs: 12px;
  --font-size-3xs: 10px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-inter: 'Inter', sans-serif;
  --font-nunito: 'Nunito Sans', sans-serif;
}
