$media-sm: 360px;
$media-md: 768px;
$media-l: 1366px;
$media-xl: 1920px;
$media-xxl: 2500px;

:root {
  --media-sm: #{$media-sm};
  --media-md: #{$media-md};
  --media-l: #{$media-l};
  --media-xl: #{$media-xl};
  --media-xxl: #{$media-xxl};
}

$media-breakpoints: (
  sm: $media-sm,
  md: $media-md,
  l: $media-l,
  xl: $media-xl,
  xxl: $media-xxl,
);

@mixin media-breakpoint-down($size) {
  @media (max-width: map-get($media-breakpoints, $size)) {
    @content;
  }
}

@mixin media-breakpoint-up($size) {
  @media (min-width: map-get($media-breakpoints, $size)) {
    @content;
  }
}
